<h1> {{ businessName }} </h1>
  <div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card biz-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> {{ data.name }} </h5>
    <p class="card-text"> {{ data.address }} </p>
    <p class="card-text"> {{ data.phoneNumber }} </p>
    <a href="#" class="btn btn-primary">Visit website</a>
  </div>
</div>
    </div>
    <div class="col-8">
      <div class="jumbotron">
  <h1 class="display-4">{{ data.name }}</h1>
  <p class="lead">{{data.description}}</p>
</div>
    </div>
  </div>
</div>
  
  <div class="container">
    <div class="row" id="reviews">
    <div class="col">
      {{ reviews }}
    </div>
    <div class="col"></div>
  </div>
  </div>