<h1> {{ name }} </h1>
  <div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card biz-card" style="width: 18rem;">
  <div class="card-body">
<<<<<<< HEAD:views/bizpage.handlebars
    <h5 class="card-title"> {{ data.name }} </h5>
    <p class="card-text"> {{ data.address }} </p>
    <p class="card-text"> {{ data.phoneNumber }} </p>
=======
    <h5 class="card-title"> {{ name }} </h5>
    <p class="card-text"> {{ address }} </p>
    <p class="card-text"> {{ phone }} </p>
    <p class="card-text"> {{ category }} </p>
>>>>>>> 8e603fa5e70dfbf5806bdd6a9eb0684725610ed4:handlebars/views/bizpage.handlebars
    <a href="#" class="btn btn-primary">Visit website</a>
  </div>
</div>
    </div>
    <div class="col-8">
      <div class="jumbotron">
<<<<<<< HEAD:views/bizpage.handlebars
  <h1 class="display-4">{{ data.name }}</h1>
  <p class="lead">{{data.description}}</p>
=======
  <h1 class="display-4">{{ name }}</h1>
  <p class="lead">{{ description }}</p>
>>>>>>> 8e603fa5e70dfbf5806bdd6a9eb0684725610ed4:handlebars/views/bizpage.handlebars
</div>
    </div>
  </div>
</div>
  
  <div class="container">
    <div class="row" id="reviews">
    <div class="col">
      {{ reviews }}
    </div>
    <div class="col"></div>
  </div>
  </div>